.btn-rect {
  width: 7.8rem;
  height: 2.2rem;
  background-color: $color-main;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: $font-family;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  overflow: hidden;

  &__ripple {
    border-radius: 100%;
    background-color: white;
    position: absolute;
    transform: scale(0);
    animation: btn-rect-ripple 0.6s linear;
  }

  &--big {
    width: 11.8rem;
    height: 3.2rem;
    font-size: 1.2rem;
  }

  &--color-second {
    background-color: $color-second;
  }

  &--bg-transp {
    background: transparent;
    border: 1px solid $color-main;
  }

  &--second-border {
    border: 1px solid $color-second;
  }

  // тени
  &--shdw-main {
    box-shadow: 0px .3rem 0px $color-main;
  }
  &--shdw-main-darken {
    box-shadow: 0px .3rem 0px $color-main--darken;
  }
  &--shdw-second {
    box-shadow: 0px .3rem 0px $color-second;
  }
  &--shdw-second-darken {
    box-shadow: 0px .3rem 0px $color-second--darken;
  }

}

@keyframes btn-rect-ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}