.btn-rect-lined-trns-4 {
  background: transparent;
  color: $color-second;
  border: 1px solid $color-second;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    background-color: $color-second;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: .3rem;
    left: 0;
    bottom: -1px;
  }
}