html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/main.css")
    title Document
  body
    h1 I'm from pug
    .container
      h3 Header
      p Container
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ipsum iste soluta obcaecati laboriosam repudiandae distinctio fugit modi facere molestias odio aperiam praesentium numquam sapiente, quas, adipisci, neque consequuntur excepturi.
      .container__small
    include ../../components/button.pug
    img(src=require('../../img/favicon-16x16.png'), alt="picture", srcset="")
    script(src='./js/main.js')