.home {
  

  &__wrapper {
    text-align: center;
  }

  &__section { 
    margin-bottom: 3.5rem;
  }

  &__btn-rect-container {

    & h2 {
      margin-bottom: 6.752rem;
    }
    
    & .row {
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 2.2rem;

      :not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }
}