.home {
  

  &__wrapper {
    text-align: center;
  }

  &__section { 
    margin-bottom: 3.5rem;
  }

  &__btn-rect-container {

    & h2 {
      margin-bottom: 6.752rem;
    }
    
    & .row {
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 2.2rem;

      :not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }

  &__btn-round-container {
    margin-bottom: 2.3rem;

    & .row {
      margin-top: 3.3rem;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 2.2rem;

      :not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }

  &__charts-container {
    min-height: 15rem;
    margin-bottom: 2.7rem;

    & .row {
      margin-top: 2rem;
      position: relative;
    }

    & .charts-container__r-chart {
      position: absolute;
    }

    & .charts-container__r-chart:nth-child(1) {
      left: -1.2rem;
    }
    & .charts-container__r-chart:nth-child(2) {
      left: 10rem;
    }
    & .charts-container__r-chart:nth-child(3) {
      left: 23rem;
    }
    & .charts-container__r-chart:nth-child(4) {
      left: 36rem;
    }
    & .charts-container__r-chart:nth-child(5) {
      left: 48.59rem;
    }
  }

  &__video-section {

    & .video-section-svg-holder {
      width: 20rem;
      height: 20rem;
      border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;

      .circular-chart {
        border: 2px dashed blue;
        width: 80%;
        height: 80%;
        display: block;
      }

      .circle-2 {
        fill: lightblue;
        stroke: blue;
      }
    }
  }
}