html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/main.css")
    title UI kit
  body.home
    h1.visually-hidden UI Kit
    .wrapper.home__wrapper
      section.section.home__section.home__btn-rect-container
        h2 standard buttons
        .row
          include ../components/buttons/btn-rect/btn-rect.pug
          +btn-rect({classes: "color-light"})
          +btn-rect({classes: "btn-rect--big color-light"})
          +btn-rect({classes: "btn-rect--big btn-rect--color-second color-light"})
          +btn-rect({classes: "btn-rect--color-second color-light"})

        .row
          +btn-rect({classes: "btn-rect--shdw-main-darken color-light"})
          +btn-rect({classes: "btn-rect--shdw-main-darken color-light btn-rect--big"})
          +btn-rect({classes: "btn-rect--shdw-second-darken color-light btn-rect--big btn-rect--color-second"})
          +btn-rect({classes: "btn-rect--shdw-second-darken color-light btn-rect--color-second"})

        .row
          +btn-rect({classes: "btn-rect--shdw-main btn-rect--bg-transp color-main"})
          +btn-rect({classes: "btn-rect--shdw-main btn-rect--bg-transp color-main btn-rect--big"})
          +btn-rect({classes: "btn-rect--shdw-second btn-rect--bg-transp color-second btn-rect--big btn-rect--second-border"})
          +btn-rect({classes: "btn-rect--shdw-second btn-rect--bg-transp color-second btn-rect--second-border"})

      section.section.home__section.home__btn-round-container
        h2 arrow buttons
        .row
          include ../components/buttons/btn-round/btn-round.pug
          +btn-round({classes: "btn-round--border-main"})
          +btn-round({classes: "btn-round--border-main", left: true})
          +btn-round({classes: "btn-round--bg-third", arrowClass: "btn-round__arrow--color-light"})
          +btn-round({classes: "btn-round--bg-third", arrowClass: "btn-round__arrow--color-light", left: true})
          +btn-round({classes: "btn-round--bg-main", arrowClass: "btn-round__arrow--color-light" })
          +btn-round({classes: "btn-round--bg-main", arrowClass: "btn-round__arrow--color-light", left: true})
      section.section.home__section
        h2 percentages / pie chart
      section.section.home__section
        h2 sliders
      section.section.home__section
        h2 stages
      section.section.home__section
        h2 form elements
      section.section.home__section
        h2 search / drop down
      section.section.home__section
        h2 user profile
      section.section.home__section
        h2 news & events
      section.section.home__section
        h2 location
      section.section.home__section
        h2 calendar
      section.section.home__section
        h2 messaging
      section.section.home__section
        h2 video

      script(src='./js/main.js')