html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./css/main.css")
    title UI kit
  body
    h1.visually-hidden UI Kit
    .wrapper.wrapper-index
      section.section.section--index-main.section-btn-rect
        h2 standard buttons
        .row
          include ../components/buttons/btn-rect-1/btn-rect-1.pug
          include ../components/buttons/btn-rect-2/btn-rect-2.pug
          include ../components/buttons/btn-rect-3/btn-rect-3.pug
          include ../components/buttons/btn-rect-4/btn-rect-4.pug
          +btn-rect-1()
          +btn-rect-2()
          +btn-rect-3()
          +btn-rect-4()

        .row
          include ../components/buttons/btn-rect-lined-1/btn-rect-lined-1.pug
          include ../components/buttons/btn-rect-lined-2/btn-rect-lined-2.pug
          include ../components/buttons/btn-rect-lined-3/btn-rect-lined-3.pug
          include ../components/buttons/btn-rect-lined-4/btn-rect-lined-4.pug
          +btn-rect-lined-1()
          +btn-rect-lined-2()
          +btn-rect-lined-3()
          +btn-rect-lined-4()

        .row
          include ../components/buttons/btn-rect-lined-trns-1/btn-rect-lined-trns-1.pug
          include ../components/buttons/btn-rect-lined-trns-2/btn-rect-lined-trns-2.pug
          +btn-rect-lined-trns-1()
          +btn-rect-lined-trns-2()

      section.section.section--index-main
        h2 arrow buttons
      section.section.section--index-main
        h2 percentages / pie chart
      section.section.section--index-main
        h2 sliders
      section.section.section--index-main
        h2 stages
      section.section.section--index-main
        h2 form elements
      section.section.section--index-main
        h2 search / drop down
      section.section.section--index-main
        h2 user profile
      section.section.section--index-main
        h2 news & events
      section.section.section--index-main
        h2 location
      section.section.section--index-main
        h2 calendar
      section.section.section--index-main
        h2 messaging
      section.section.section--index-main
        h2 video

      script(src='./js/main.js')