*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* все элементы (включая псевдо элементы всех элементов ::before и ::after)
  будут наследовать свойство box-sizing: border-box; от body */
}

html {
  font-size: 62.5%; // This defines what 1rem is

  /* Если для элемента html установить font-size в процентах, то процент берется от шрифта браузера по умолчанию.
  Браузеры по умолчанию ставят шрифт равным 16px, а нам нужен 10px, поэтому 62.5% от 16px это как раз 10px.
  Можно сразу жестко задать 10px, но тогда те пользователи,
  которые в настройках своих браузеров увеличили шрифт по умолчанию, не увидят эффекта увелечения шрифта,
  если мы жестко его перезапишем в 10px */

  /* Если бы это свойство использовалось только для шрифтов, то его можно было разместить в папку typograpy,
  но оно лежит в этой папке потомучто по задумке оно используется
  не только для шрифтов, но и для маржинов/паддингов и других размерностей устанавливаемых через rem */

  @media (max-width: $tab-land) {
    font-size: 60%;
  }

  @media (max-width: $phone) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background: #ffffff;
}

button, 
button:active, 
button:focus {
    outline: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}