// COLORS
$color-light: #ffffff;
$color-main: #4eb7a8;
$color-main--darken: #28a290;
$color-second: #e75735;
$color-second--darken: #bf3e1f;

$color-grey: #e6e6e6;

// FONTS
$font-family: 'PT Sans', 'Arial', sans-serif;
$font-family--bold: 'PT Sans Bold', 'Arial', sans-serif;
$font-size: 2.239rem;
$font-size--medium: 2.98669rem;
$font-size--medium-mobile: 2rem;
$font-size--big: 3.73354rem;
$font-size--big-mobile: 3rem;

$line-height: 2.69rem;

$font-size--h1: 3.6268rem; // H1 для названия профессии будет использоваться. В макете это "graphic designer"
$font-size--h2: 5.9733rem; // h2 для разделов "profile", "contact" etc.
$font-size--h2-mobile: 4rem;

// GRID
/* Breakpoints
  0 - 600px:      Phone
  600 - 900px:    Tablet portrait
  900 - 1200px:   Tablet landscape
  [1200 - 1800]   is where our normal styles apply
  1800px + :      Bid desktop
*/
$phone: 37.5em; // 600px / 16px = 37.5em
$tab-port: 56.25em; // 900px / 16 = 56.25em
$tab-land: 75em; // 1200px / 16 = 75em;
$big-desktop: 112.5em; // 1800px / 16 = 112.5

$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-vertical-none: 0;

$gutter-horizontal: 4rem;
$gutter-horizontal-small: 2rem;
$gutter-horizontal-none: 0;